.imgJaneDoe{
    width: 250px;
    border-radius: 50%;
}
.bordePerfil{
    padding: 25px;
    border: 1px solid black;
    left: 5;    
}
.buttonseguir{
    margin-top: 225px;
}
.imgPaisaje{
    width: 100%;
    border-radius: 3%;
}
.btnMegusta{
    margin-top: 5px;
}
.nombresEnColor{
    color: blue;
    font-size: 20px;
}
