body{
background-color: ghostwhite;
}
.imgJaneDoe{
    width: 100%;
    border-radius: 50%;
}
.bordePerfil{
    border-radius: 3%;
    padding: 25px;
    border: 1px solid black;
    left: 5; 
    background-color: antiquewhite;
   
}
.imgPaisaje{
    width: 100%;
    border-radius: 3%;
}
.btnMegusta{
    margin-top: 5px;
}
#nombresEnColor{
    color: blue;
    font-size: 20px;
}
.sobreMi{
    border: 1px solid black; 
    text-align: center; 
    border-radius: 3%;
    padding: 25px;
    background-color: antiquewhite;
    
}
.seccionDeFotoYcomentarios{
    border: 1px solid black;
    border-radius: 3%;
    padding: 10px;
    background-color: antiquewhite;

}
.bordeFotoPerfil{
    text-align: center;
    border: 4px solid blue;
    border-radius: 50%;
    padding: 4px;
}
.perfil-info {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.buttonseguir {
    margin-top: 20px;
    align-self: flex-end;
    width: 90%;
}



